<div class="description_header">I am from...</div>
<br>
<div class="description">Moodbidri,India. Completed Masters in Computer applications from NITTE university.</div>

<style>
.description_header {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin-right:60%;
}



</style>