<!--<%unless  @portfolio %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="main">
    <button class="openbtn" onclick="openNav()">☰</button>  
  </div>
  <a class="navbar-brand" href="#">About Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 " id="myInput" type="search" placeholder="Search" aria-label="Search">
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    </form>
  </div>
</nav>
<%else%>
 
  <div id="mySidebar" class="sidebar">
    <div class="list">
      <%= image_tag "heroine.jpeg", style: 'width: 100px; height: 100px; object-fit: cover; border-radius: 100%; ', class: "center" %>
      <br> <br>
      <a href="#home">Home</a>
      <br> <br>
      <a href="#about">About</a>
      <br> <br>
      <a href="#skills">Skills</a>
      <br> <br>
      <a href="#contact">Contact</a>
      </div>
  </div>
 
<%end%>
<style>
  .option{
    display:flex; 
    justify-content:center;
  }
  .sidebar { 
  padding-left:7%
  }
  .center{
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 50%;
  }

  html {
    scroll-behavior: smooth;
  }

</style> -->


