<div id="<%= dom_id campaign %>">
  <p>
    <strong>Campaign name:</strong>
    <%= campaign.campaign_name %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= campaign.campaign_id %>
  </p>

</div>
